/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 2rem 4rem 2rem;
}
.presentacion__titulo {
    font-weight: bold;
    font-size: 2.2rem;

}
.presentacion__subtitulo {
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.2rem;
}
.presentacion__contenedor { 
    overflow: auto; /* Esto hace que el padre "abrace" a sus hijos flotantes */
    margin: 1rem 0rem; 
}
.presentacion__foto {
    width: 13rem;
    height: 13rem;
    float: right; /* Hace que la imagen flote a la derecha y el texto se ajuste a su alrededor. Se bloqquea si el padre define display: flex; */
    shape-outside: circle(50%);
    shape-margin: 1px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    margin-top: 0.5rem;
    margin-left: 1.8rem;
}
#texto__presentacion {
    font-size: 0.8rem;
    /* text-align: justify;*/
    line-height: 1.25; 
}

.signature{
    margin: 1rem 0rem;
    height: 3rem;
    width: auto;
    max-width: 100%;
    fill: none;
    object-fit: contain;
    align-self: flex-start;
}



.signature:hover #gradienteFirma {
    fill: url(#gradienteFirma);
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

#path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 3s linear forwards;
}
@keyframes draw {
    to {
    stroke-dashoffset: 0;
    fill: white;
 /* fill: url(#gradienteFirma); */
 }
}
#path:hover {
    backdrop-filter: blur(2px);
    /* stroke: rgb(169, 212, 228); */
    /* stroke: rgba(0, 191, 255, 0.63);  */
    stroke-width: 3;
}

.redes { 
    max-width: 12rem;
    display: flex;
    justify-content: space-between;

}
.svg__icon {
    width: 1.5rem;
    height: auto;
    fill: #FFFFFF; /* Color inicial: Blanco */
    transition: fill 0.3s ease; /* Transición suave */
}
#github:hover .svg__icon {
    fill: #00d2ff; 
}
/* hover en LinkedIn */
#linkedin:hover .svg__icon {
    fill: #0A66C2;
}
/* hover en Instagram */
#instagram:hover .svg__icon {
    fill: url(#gradienteInstagram); /* Color de Instagram */
}
/* hover en Mascotas */
#mascotas:hover .svg__icon {
    /* fill: rgb(153, 34, 34); */
    fill: url(#gradienteMascotas);
}



 /*---------------- Responsividad ----------------*/

 /* Tablets y pantallas más grandes */

@media (min-width: 768px) {

    .presentacion {
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 3rem;
    }

    .presentacion__titulo {
        filter: drop-shadow(0px 0px 5px rgb(28, 51, 56));
        font-weight: bold;
        font-size: 4rem;
    }
    .presentacion__subtitulo {
        filter: drop-shadow(0px 0px 5px rgb(28, 51, 56));
        font-weight: bold;
        font-size: 1.8rem;
        font-style: italic;
    }

    .presentacion__contenedor { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.2rem 0rem 0.5rem 0rem;
    }
    .presentacion__foto {
        width: 14rem;
        height: 15rem;
        border-radius: 15%;
        object-position: 50% 30%;
        margin: 0rem 0rem 1rem 0rem;
    }
    .presentacion__foto:hover {
        border-radius: 15%;
        object-position: 50% 30%;
        margin: 0rem 1rem 1rem 0rem;
        filter: drop-shadow(0px 0px 5px rgba(0, 95, 116, 0.574));
        box-shadow: 5px 15px 32px 0 rgba(0, 0, 0, 0.37);
        transition: all 0.3s ease;
    }

    #div__container {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #texto__presentacion {
        margin-left: 2rem;
        font-size: 1rem;
    }

    .signature{
        margin: 1rem 2rem;
        height: 4rem;
        width: auto;
        max-width: 100%;
        fill: none;
        object-fit: contain;
        align-self: flex-start;
    }

    .redes {
        margin-left: 1.1rem;
    }
}


/* Laptops y pantallas más grandes */
@media (min-width: 1024px) {
        .presentacion {
            margin: 2rem 4rem;
        }
    .presentacion__titulo {
        font-size: 4.5rem;
    }
    .presentacion__contenedor { 
        justify-content: space-between;
        
    }
    .presentacion__foto {
        width: 17rem;
        height: 19rem;
        border-radius: 15%;
        object-position: 50% 30%;
        margin: 0rem 0rem 1rem 0rem;
    }
    #texto__presentacion {
        font-size: 1.2rem;
    }

    .signature{
        margin: 1rem 2rem;
        height: 5rem;
        width: auto;
        max-width: 100%;
        fill: none;
        object-fit: contain;
        align-self: flex-start;
    }

    .redes {
        margin-left: 2.5rem;
    }
    
} 

@media (min-width: 1440px) {
    .presentacion {
        margin: 5rem 4rem;
    }
    .presentacion__contenedor {
        margin-bottom: 1rem; 
        justify-content: space-between;
        
    }
    .presentacion__foto {
        width: 22rem;
        height: 24rem;
        border-radius: 15%;
        object-position: 50% 30%;
        margin: 0rem 0rem 1rem 0rem;
    }
    .redes {
        max-width: 17rem;
        margin-left: 2rem;
    }

    .signature{
        margin: 1rem 2rem;
        height: 6rem;
        width: auto;
        max-width: 100%;
        fill: none;
        object-fit: contain;
        align-self: flex-start;
    }
}