*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 3rem;
}
.proyectos__grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna móvil */
    gap: 3rem;
    width: 100%;
    justify-items: center;
}
.proyectos__contenedor {
    display: flex; /* Alineamos contenido en línea */
    flex-direction: column; /* Por defecto en móvil, uno bajo otro */
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.proyectos__contenedor:hover {
    transform: translateY(-10px);
    border: 1px solid var(--color-neon-azul);
    box-shadow: 0 0 20px rgba(0, 210, 255, 0.2);
}
.proyectos__images {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
}

#affinityApp, #encriptador, #pongGame, #aluraflix {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.contenedor__detalles {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

}


@media (min-width: 768px) {

    .proyectos__grid {
        max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .proyectos__contenedor {
        width: 100%;
        height: 17rem;
        max-width: 17rem; /* Evita que las cards se vuelvan gigantes horizontalmente */
    }
    .proyectos__images {
        width: 60%;
    }
    #affinityApp, #encriptador, #pongGame,#aluraflix {
        width: 80%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
    #affinityApp, #encriptador, #aluraflix{
        margin-top: 1.5rem;
    }

}


/* Escritorios y pantallas más grandes */
@media (min-width: 1024px) {

    .proyectos__contenedor {
        max-width: 25rem;
    }
    .proyectos__grid {
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 
    }
    .proyectos__images {
        width: 9rem;
    }
    #affinityApp, #encriptador, #pongGame, #aluraflix {
        width: 14rem;
    }
    #affinityApp, #encriptador, #aluraflix{
        margin-top: 2.5rem;
    }
}

@media (min-width: 1440px) {
    .proyectos__grid {
        gap: 4rem 
    }
}
