<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>iconos: 
        <a href="https://www.flaticon.com/free-icons/paws" title="paws icons">Paws icons created by Icongeek26 - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/miniature-schnauzer" title="miniature-schnauzer icons">Miniature-schnauzer icons created by 2D3ds - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/puppy" title="puppy icons">Puppy icons created by 2D3ds - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/dog" title="dog icons">Dog icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/cat" title="cat icons">Cat icons created by Freepik - Flaticon</a>    </p>
</body>
</html>