/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
}
.sobre-mi__titulo{
    font-weight: bold;
    font-size: 1.6rem;
}
.sobre-mi__texto{
    text-align: justify;
    margin-top: 1rem;
    font-size: 0.85rem;
}



/* ------------------------------ Responsividad ---------------------------------------*/


/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .sobre-mi{
        display: flex;
        flex-direction: column;
        margin: 5rem 3rem;
    }

    .sobre-mi__titulo{
        font-size: 2rem;
    }
    .sobre-mi__texto{
        text-align: justify;
        margin-top: 1rem;
        font-size: 1rem;
    }
}


/* Laptops y pantallas más grandes */
@media (min-width: 1024px) {

    
    
}