/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
}




/* ------------------------------ Responsividad ---------------------------------------*/


/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .sobre-mi{
        display: flex;
        flex-direction: column;
        margin: 5rem 3rem;
    }
}


/* Laptops y pantallas más grandes */
@media (min-width: 1024px) {
    .sobre-mi{
        display: flex;
        flex-direction: column;
        margin: 5rem 4rem;
    }

    
    
}