#contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 3rem;
}

.contacto__contenedor {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 0.9rem;
    text-align:  justify;
    padding: 1.5rem 1.5rem;
    gap: 0.5rem;
}
#contacto__formulario {
    width: 100%;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.contacto__campo {
    font-size: 0.9rem;
    height: 1.5rem;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(34, 34, 34, 0.189);
}
.contacto__campo:focus {
    background: rgba(87, 87, 87, 0.167);
    border: 1px solid #00d0ff0d;
    outline: none;
}
#text_area {
    height: 7rem;
}
.contacto__boton {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #00d2ff, #183ebc);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.contacto__boton:hover {
    background: linear-gradient(to right, #183ebc, #00d2ff);
}
.contacto__imagen {
    display: none;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {

    .contacto__contenedor {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #contacto__formulario {
        width: 100%;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    #contactText {
        font-size: 1.2rem;
        width: 90%;
    }
    .contacto__campo {
        font-size: 1rem;
        height: 2rem;
        width: 100%;
    }

    .contacto__imagen {
    display: block;
    width: 40%;
    max-width: 20rem;
    height: auto;
    padding-right: 1rem;
    object-fit: contain;

}
    /* .contacto__campo {
        font-size: 1rem;
        height: 2rem;
    }
    #text_area {
        width: 90%;
    } */

}

/* Escritorio y pantallas más grandes */
@media (min-width: 1024px) {
    /* .contacto__detalles {
        width: 100%;
        padding: 1.5rem;
    } */

}