* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #f8f8f8e4; /* Un azul casi negro */
    --color-dorado-shiny: #ffd500;
    --color-dorado-dark: #bb9750;
    --glass-bg: rgba(255, 255, 255, 0.05); /*transparencia de fondo*/
    --glass-border: rgba(255, 255, 255, 0.1);
    --color-font-oscuro: #3B3F3D;
    --color-font-claro: rgb(251, 247, 242)
}

body {
    background-color: var(--color-fondo);
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(0, 210, 255, 0.15) 0%, transparent 40%),
        radial-gradient(circle at 90% 80%, rgba(157, 80, 187, 0.15) 0%, transparent 40%);
    background-attachment: fixed; 
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    
}

h2{ 
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    
}

.glass-card {
    /* background: rgba(0, 255, 255, 0.03);  */
    background: rgba(181, 173, 138, 0); /* Un toque de blanco casi invisible */
    backdrop-filter: blur(20px); /* El esmerilado del cristal */
    -webkit-backdrop-filter: blur(20px); /* Soporte para Safari */
    /*border: 1px solid rgba(255, 255, 255, 0.1); /* El borde fino */
    border-radius: 5%; /* Bordes suaves */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Sombra para dar profundidad */
    transition: all 0.3s ease; /* Como un amortiguador que suaviza cualquier cambio */
}
.glass-card:hover {
    background: rgba(0, 255, 255, 0.05); /* Se vuelve un poco más opaco */
    border: 1px solid var(--color-dorado-shiny);
    /* border-color: var(--color-dorado-shiny); */
    box-shadow: 0 0 15px var(--color-dorado-dark)
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-font-claro);
    padding: 0rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.887);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgb(107, 106, 106);
    /* para hacer que el header se mantenga fijo en la parte superior */
    /*version sticky*/
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.header__icon {
    width: auto;
    height: 1.2rem;
    margin-top: 0.1rem;
    fill: var(--color-font-claro);
}
.header__icon:hover {
    fill: url(#gradienteLogo);
}

.header__titulo {
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 0.5rem;
    text-align: center;
}
.header__titulo:hover {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #bf953f,
        #fcf6ba,
        #b38728,
        #fbf5b7,
        #aa771c
    );
}

/*   -------   Navegación Menú   -------   */
.navegacion {
    margin-left: auto;
    align-items: center;
}

.navegacion__lista {
    list-style: none;
    display: none;
}
.menu__toggle{
    font-size: 0.9rem;
    background: none;
    border: none;
    color: var(--color-font-claro);
    cursor: pointer;
}
.menu__toggle:hover {
    color: var(--color-dorado-dark);
}


/* ------------------------------ Fotos destacadas ------------------------------------*/
.mascotas-destacadas{
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
}
.mascota-destacada{
    width: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.mascota-destacada img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5%;
    object-position: 50% 45%;
    margin: 0rem 0rem 1rem 0rem;
}

/* ------------------------------ Footer ------------------------------------*/

.creditos{
    display: flex;
    flex-flow: column;
}
.creditos a {
    font-size: 0.5rem;
}

.autor__contacto{
    display: flex;
    justify-content: space-around;
}
#copyright {
    font-size: 0.4rem;
    text-align: center;

}

/* ------------------------------ Responsividad ---------------------------------------*/


/* Tablets y pantallas más grandes */
@media (min-width: 768px) {

    header {
        padding: 0rem 1.5rem 0rem 1rem;
    }

    .header__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    } 

    .nav_item .nav__buttons {
        font-size: 0.7rem;
        color: var(--color-font-claro);
    
    }
    .nav_item .nav__buttons:hover {
        color: #fff200e0; 
    }
}


/* Laptops y pantallas más grandes */
@media (min-width: 1024px) {

    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        max-width: 100px;
    }
    
    .header__titulo {
        font-size: 1.8rem;
    }


    /*   -------   Navegación Menú   -------   */
    .navegacion {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: auto;
        margin-top: 0;
    }

    .menu__toggle{
    display: none; /* Ocultar el botón de menú en pantallas grandes */
    }

    /* ------------------------------ Fotos destacadas ------------------------------------*/
    .mascotas-destacadas{
        display: flex;
        gap: 3rem;
    }
    .mascota-destacada{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mascota-destacada img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 5%;
        object-position: 50% 45%;
        margin: 0rem 0rem 1rem 0rem;
    }
}