
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 2000; /* Siempre por encima de todo el chasis */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 30, 30, 0.842); /* Oscurece el fondo */
    backdrop-filter: blur(8px); /* Desenfoque extra para el fondo */
    justify-content: center;
    align-items: center;
}

/* El contenedor del contenido (tu glass-card) */
.modal_content {
    position: relative;
    width: 90%;
    max-width: 40rem;
    overflow-y: auto; /* Si el texto es largo, permite scroll interno */
    padding: 2rem;
    animation: slideIn 0.4s ease-out; /* Animación de entrada */
}
.modal_img{
    width:90%; 
    border-radius:1.5rem; 
    margin-bottom:1rem;
}
.img_large{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius:0.5rem; 
}
/* El botón de cerrar (la X) */
.close_button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--color-neon-azul);
    cursor: pointer;
}

/* Animación para que el modal no aparezca de golpe */
@keyframes slideIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@media (min-width: 768px) {
    .modal_img{
        display: flex;
        justify-self: center;
        width:20rem; 
        border-radius:2rem; 
        margin-bottom:1rem;
    }
    .img_large{
        width: 90%;
        border-radius:0.5rem; 
    }


}

@media (min-width: 1024px) {
    .img_large{
        width: 30rem;

        
}


}