/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    margin: 4rem 3rem;
}
.proyectos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0rem;
}
.proyectos__contenedor {
    display: flex; /* Alineamos contenido en línea */
    flex-direction: column; /* Por defecto en móvil, uno bajo otro */
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.proyectos__contenedor:hover {
    transform: translateY(-10px);
    border: 1px solid var(--color-neon-azul);
    box-shadow: 0 0 20px rgba(0, 210, 255, 0.2);
}
.proyectos__images {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
}

#affinityApp, #encriptador, #pongGame {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.contenedor__detalles {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

}


@media (min-width: 768px) {

    .proyectos__contenedor {
        height: 19rem;
        flex-direction: row; /* Imagen y texto lado a lado */
        align-items: center; /* Alineamos al inicio para que el texto quede a la derecha de la imagen */
        gap: 2rem; /* Espacio entre imagen y texto */
    }
    .proyectos__images {
        width: 40%;
    }
    #affinityApp, #encriptador, #pongGame {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

}


/* Escritorios y pantallas más grandes */
@media (min-width: 1024px) {

    .proyectos__contenedor {
        height: 25rem;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between;
        padding: 3rem;
        gap: 2rem; 
    }
    .proyectos__images {
        width: 16rem;
    }
    #affinityApp, #encriptador, #pongGame {
    width: 31rem;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    }
}
